
@import 'modules/typography.scss';
@import 'modules/colour.scss';

$grid: 16px;

body {
    @include font-1; 
    margin: 0px;
    padding: 0px;
}

.u-hgrid {
    background:url(../bg.png) repeat;
}

.u-vgrid {
    background:url(../bg-vertical.png) repeat;
}

.u-columns {
    -webkit-column-count: 2;
    -webkit-column-gap: $grid*2;
    
    @media only screen and (max-width: $grid*30) {
        -webkit-column-count: 1;
    }     
}

.article__container {
    margin: $grid auto; 
    max-width: $grid*32;
    text-align:justify;
    padding: 0 $grid;
}

.article__container-headline {
    @include font-2; 
}

.article__container-date {
    line-height: $grid;
    box-sizing: border-box;
    font-style: italic;
}

.image {
    width: 224px;
    height: 224px;
    display: inline-block;
    float: right;
    margin: $grid 0 $grid $grid;
    
    @media only screen and (max-width: 320px) {
        margin: $grid 0;
        display: block;
        width: 100%;
        float: inherit;
    }     
}

.code__block {
    border-left: $highlight-color solid 1px;
    padding-left: $grid;
    margin-left: -$grid;
    
    @media only screen and (max-width: $grid*34) {
        margin-left: 0;
    }     

}
