
$grid: 16px;

@import 'modules/typography.scss';
@import 'modules/colour.scss';
@import 'modules/lists.scss';


body {
    @include font-1; 
    margin: $grid*6 0px;
    padding: 0px;
    background-color: rgba(243, 234, 239, 0.28);
}

.u-hgrid {
    background:url(../bg.png) repeat;
}

.u-vgrid {
    background:url(../bg-vertical.png) repeat;
}

.u-columns {
    -webkit-column-count: 2;
    -webkit-column-gap: $grid*2;
    -moz-column-count: 2;
    -moz-column-gap: $grid*2;
    
    @media only screen and (max-width: $grid*30) {
        -webkit-column-count: 1;
    }     
}

.article__container {
    margin: $grid auto; 
    max-width: $grid*32;
    padding: 0 $grid;
}

.article__container-headline {
    @include font-2; 
}

.article__container-date {
    line-height: $grid;
    box-sizing: border-box;
    font-style: italic;
}

.image {
    width: 224px;
    height: 224px;
    display: inline-block;
    float: right;
    margin: $grid;
    margin-right: -$grid;

    @media only screen and (max-width: $grid*40) {
        margin: $grid 0;
        display: block;
        width: 100%;
        float: inherit;
    }     
}

.code__block {
    border-left: $highlight-color solid 1px;
    padding-left: $grid;
    margin-left: -$grid;
    
    @media only screen and (max-width: $grid*34) {
        margin-left: 0;
    }     
}

.subheading {
    @include font-3;
}

